.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 20;
    -fx-text-fill: #000000;
    -fx-display-caret:true;
    -fx-font-alignment:right;
    -fx-background-color: #333333;
}

.list-view {
    -fx-font-family: Consolas;
        -fx-font-size: 16;
        -fx-text-fill: #666666;
     -fx-display-caret:true;  
     -fx-font-alignment:right;  
     -fx-background-color: #AAAAAA;  

/* -fx-background-color: rgba(100, 200, 100, 0.5);   */
/* -fx-effect: dropshadow(gaussian, red, 10, 0, 0, 0);  */
/* -fx-background-insets: 1;  */
}

.vbox {
    -fx-background-color: #004000;
    -fx-padding: 150;
    -fx-spacing: 100;
}

.hbox {
    -fx-background-color: #333f4f;
    -fx-padding: 10;
    -fx-spacing: 5;
}

.list-cell, .list-cell:empty {
    -fx-background-color: rgba(209, 240, 192, 0.5);
    }

.list-cell:selected {
    -fx-background-color: #CCCAAA;
}

.text-area .content {
    -fx-background-color: #FFFFEE;
}

.scroll-bar:vertical {
    -fx-pref-width: 10.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal {
    -fx-pref-height: 10.5;
    -fx-padding: 3;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 10.5;
}

.scroll-bar .decrement-arrow {
    -fx-padding:1.25;
 }
.scroll-bar .increment-arrow {
    -fx-padding:1.25;
}

.text-field:focused{
    -fx-background-color: green;
    -fx-text-fill:white;
    -fx-prompt-text-fill:white;
/* -fx-background-insets: -0.1, 2.0; */
/* -fx-font-size:14.0; */
}
